.btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.btn:hover {
    background-color: #e74c3c;
    transform: scale(1.1);
    transition-delay: 0.2s;
}
